.navbar3 {
    width: 136px;
    background-color: #7A1174;
}

.row {
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    font-family: roboto 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 43px;
}

.departamentos {
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    font-family: roboto 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 43px;
    width: 50px;
}

.col-sm {
    width: 500px;
    font-size: 18px;
}

.solucoes {
    padding-left: 74px;
}

.servico {
    font-size: 18px;
}

.suporte {
    font-size: 18px;
}

.promocao {
    font-size: 18px;
}

.imagem-foguete img {
    height: 76px;
}

.Nav3 {
    justify-content: flex-start;
    align-items: center;
}