.card-container3 {
    width: 405px;
    height: 277px;
    box-shadow: 0px 0px 5px 5px rgba(209, 209, 209, 0.959);
    border-radius: 13px;
}

.card-container3 h4 {
   font-size: 32px;
   padding-top: 10px;
   padding-bottom: 5px;
   margin-top: 19px;
   margin-bottom: -10px;
   margin-left: 14px;
   font-weight: normal;
   color: #000;
}

.card-container3 hr {
    width: 364px;
    height: 2px;
    margin-left: 20.3px;
    color: #000;
}

.texto-h3 h3 {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 51px;
    width: 280px;
}

.card-container3{
    width: 415px;
    display: flexbox;
}
